
.heroVid{
	width: 100%;
	height: 280px;
	padding-top: 1rem;
	background: url(../images/homepage/geoff.png) 80px bottom no-repeat $csblue;
	@include back-size(contain);
	
	.meet{
		color: $cblue;
		font-family: $bebas;
		line-height: 1;
		border-bottom: 5px solid $white;
		display: inline-block;
		font-size: 2rem;
		margin: 0 0 1rem 0;
	}
	
	.learn{
		margin: 0;
		width: 50%;
		color: $white;
		font-family: $bebas;
		font-size: 1.3rem;
		line-height: 1;
	}
}

.introPanel{
	background: $clgrey;
	text-align: center;
	padding: 2rem 0;
	
	.thinkText{
	
		.thinkTitle{
			text-transform: uppercase;
			font-family: $bebas;
			color: $cblue;
		}
		
		h3{
			font-size: 1.2rem;
			margin-bottom: 2rem;
			line-height: 1.2;
		}
		
		p{
			color: darken($cturq, 20%);
		}
	}
}

.signUp{
	text-align: center;
	padding: 2rem 0;
	
	h4{
		font-size: 1.1rem;
	}
	
	#mc-embedded-subscribe-form{
		
		.inputWrap{
			width: 46%;
			margin: 0 2%;
			float: left;
			text-align: left;
			margin-bottom: 1rem;
			
			.input{
				width: 100%;
				border: none;
				background: #e5f6f5;
				font-family: $barreg;
			font-size: 1.2rem;
			}
		}
		
		.indicates-required{
			font-size: 0.8rem;
		}
		
		.submitBtn{
			width: 96%;
			margin: 0 2%;
			background: $cyell;
			border: none;
			font-family: $barreg;
			font-size: 1.2rem;
			cursor: pointer;
			
			&:hover{
				background: darken($cyell, 5%);
			}
		}
	}
}

.thinkBlock{
	background: $cturq;
	position: relative;
	padding: 2rem 0;
	
	.thinkContent{
		width: 220px;
		margin: 0 auto 2rem auto;
	
		p{
			font-family: $bebas;
			color: $white;
			display: inline-block;
			margin: 0;
			text-align: left;
			border-bottom: 5px solid $white;
			padding-bottom: 0.5rem;
			
			.dark{
				color: darken($cturq, 20%);
			}
		}
		
		.threeIcon{
			width: 100px;
			height: auto;
			display: inline-block;
			float: right;
			margin-top: 0.5rem;
		}
		
		&:after{
			@include clearfix;
		}
	}
	
	.roundel{
		position: absolute;
		right: 0;
		bottom: 0;
		width: 200px;
		height: 200px;
		background: $white;
		text-align: center;
		@include border-radius(100px);
		display: none;
	}
}

.dealBlock{
	padding: 2rem 0;
	text-align: center;
	
	.title{
		margin-bottom: 2rem;
		font-family: $bebas;
		color: $cturq;
		line-height: 1;
		font-size: 1.6rem;
	}
	
	.dealIcon{
		height: 130px;
		display: table;
		width: 100%;
		
		img{
			width: 110px;
			height: auto;
			margin: 0 auto;
		}
	}
	
	p{
		font-family: $barbold;
		margin: 0 0 1rem 0;
	}
}


@media only screen and (min-width: 485px) {
	
	.heroVid{
		background-position: right bottom;
	}
}


@media only screen and (min-width: 640px) {

	.heroVid{
		height: 350px;
		padding-left: 1rem;
		
		.meet{
			font-size: 3.2rem;
			margin: 1rem 0;
		}
		
		.learn{
			font-size: 1.6rem;
			width: 45%;
		}
	}
	
	.thinkBlock{
		
		.thinkContent{
			width: 100%;
			margin: 0;
		
			p{
				font-size: 1.2rem;
				line-height: 1;
			}
			
			.threeIcon{
				width: 70px;
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	
	.heroVid{
		height: 500px;
		
		.meet{
			font-size: 3.4rem;
			margin: 1rem 0;
		}
		
		.learn{
			font-size: 2.2rem;
			width: 40%;
		}
	}
	
	.introPanel{
		padding: 4rem 0;
		
		.thinkText{
			max-width: 800px;
			margin: 0 auto;
			
			.thinkTitle{
				font-size: 3rem;
				margin-bottom: 1rem;
			}
			
			h3{
				font-size: 1.5rem;
			}
			
			p{
				font-size: 1.2rem;
			}
		}
	}
	
	.signUp{
		
		#mc-embedded-subscribe-form{
			width: 550px;
			margin: 0 auto;
						
			.inputWrap{
				width: 40%;
				margin: 0 1%;
				height: 50px;
				
				label{
					height: 20px;
					margin-bottom: 5px;
				}
				
				.input{
					
				}
			}
			
			.indicates-required{
				font-size: 0.8rem;
			}
			
			.submitBtn{
				width: 16%;
				float: left;
				height: 50px;
				margin: 25px 0 0 0;
				border: none;
				
				&:hover{
					
				}
			}
		}
	}
	
	.thinkBlock{
		
		.thinkContent{
			//width: 300px;
			margin: 0 auto;
			
			p{
				font-size: 1.5rem;
				line-height: 1;
			}
			
			.threeIcon{
				width: 85px;
			}
		}
	}
	
	.dealBlock{
		padding: 3rem 0;
		
		.dealInner{
			max-width: 950px;
			margin: 0 auto;
			
			.title{
				font-size: 1.8rem;
			}
			
			.dealIcon{
				height: 155px;
				
				img{
					width: 130px;
				}
			}
			
			p{
				font-size: 1.4rem;
			}
		}
	}
}

@media only screen and (min-width: 1030px) {

	.heroVid{
		height: 600px;
		
		.meet{
			font-size: 4rem;
			margin: 1rem 0;
		}
		
		.learn{
			font-size: 3.2rem;
			width: 38%;
		}
	}
	
	.introPanel{
		padding: 3rem 0;
		
		.thinkText{
		
			.thinkTitle{
				font-size: 3.4rem;
			}
			
			h3{
			}
		}
	}
	
	.signUp{
		text-align: center;
		padding: 5rem 0;
		
		h4{
			font-size: 2rem;
			line-height: 1;
			//margin-bottom: 3rem;
		}
		
		.indicates-required{
			margin-bottom: 1rem;
		}
		
		#mc-embedded-subscribe-form{
			
			
		}
	}
	
	.thinkBlock{
		padding: 4rem 0;
		
		.thinkContent{
			width: 300px;
			margin: 0 auto;
			
			p{
				font-size: 1.6rem;
				line-height: 1;
			}
			
			.threeIcon{
				width: 130px;
			}
		}
	}
	
	.dealBlock{
		padding: 5rem 0;
		text-align: center;
		
		.dealInner{
			
			.title{
				font-size: 2.6rem;
				margin-bottom: 3rem;
			}
		}
	}	
}

@media only screen and (min-width: 1240px) {

	.heroVid{
		padding-left: 5rem;
		padding-top: 3rem;
		
		.meet{
			font-size: 4rem;
			margin: 1rem 0;
		}
		
		.learn{
			font-size: 3.2rem;
			width: 38%;
		}
	}
}