
.pageFooter{
	background: $clgrey;
	padding: 2rem 0;
	
	.footerLogo{
		width: 200px;
		height: auto;
	}
}

@media only screen and (min-width: 640px) {

}

@media only screen and (min-width: 768px) {
	
}

@media only screen and (min-width: 1030px) {
	
}

@media only screen and (min-width: 1240px) {
	
}