
.pageHeader{
	padding: 1rem 0;
	text-align: center;
	
	.logoWrap{
		
		.mainLogo{
			width: 150px;
			height: auto;
		}
	}
	
	.contactDetails{
		
		p{
			margin: 0.5rem 0 0 0;
			
			.heavy{
				font-family: $barbold;
			}
		}
	}	
}

@media only screen and (min-width: 640px) {

	.pageHeader{
	
		.logoWrap{
			text-align: left;
		}
		
		.contactDetails{
			float: right;
			text-align: left;
		}
	}
}

@media only screen and (min-width: 768px) {
	
	.pageHeader{
		text-align: center;
		
		.logoWrap{
			text-align: left;
			
			.mainLogo{
				width: 220px;
				height: auto;
			}
		}
		
		.contactDetails{
			float: right;
			font-size: 1.2rem;
			text-align: left;
			
			p{
				line-height: 1.2;
			}
		}
		
		&:after{
			@include clearfix;
		}
	}	
}

@media only screen and (min-width: 1030px) {
	
}

@media only screen and (min-width: 1240px) {
	
}