
.pageHeader{
	padding-top: 1rem;
	text-align: center;
	background: $clgrey;
	
	.logoWrap{
		
		.mainLogo{
			width: 220px;
			height: auto;
		}
	}
	
	.contactDetails{
		
	}	
}

@media only screen and (min-width: 640px) {

}

@media only screen and (min-width: 768px) {
	
	.pageHeader{
		text-align: center;
		
		.logoWrap{
			text-align: left;
			
			.mainLogo{
				width: 220px;
				height: auto;
			}
		}
		
		.contactDetails{
			float: right;
			font-size: 1.2rem;
			text-align: left;
		}	
	}	
}

@media only screen and (min-width: 1030px) {
	
}

@media only screen and (min-width: 1240px) {
	
}